name: powershell_v2

on:
  push:
    branches: [ main, feature/dk* ]

jobs:
  run-ps-script:
    uses: kiranvattikuti146/POWERSHELL-REUSABLE-V2/.github/workflows/powershell-Reusable.yml@main
    with:
      targetType: inlineScript
      filePath: 'scripts/sample-script.ps1'
      arguments: 'arg1 arg2'
      script: hostname
      workingFolder: '.'
      errorPreference: Stop
      ignoreLASTEXITCODE: false
    secrets:
      username: ${{ secrets.USERNAME }}
      password: ${{ secrets.PASSWORD }}
